
<html lang="en">
  <head>
    <title>Orangutan Music</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="http://www.youtube.com/player_api"></script>
    <script src="./app.js"></script>
    <style type="text/css">
      body {
        background-color: black;
      },
      .description {
        color: blue;
      }
      /*.floaters {
        float: left;
        width: 50%;
        padding: 10px;
      }
      .floaters img {
          margin-top: 12px;
          width: 100%;
      }*/
      img
      {
        float:left;
        width : 31%;
        padding : 1%;
        max-width: 150px;
        min-width : 100px;
      }
    </style>
  </head>

  <body ng-app="orangutan" ng-controller="bigController">

    <button ng-click="">Login</button>
    <button ng-click="">Join</button>

    <div ng-repeat="n in videos" >
      <div class="floaters" ng-repeat="x in n.music.data" >
        <img class="image" id="youtube-audio" src="{{x.snippet.thumbnails.medium.url}}" width="60" ng-click="onYouTubeIframeAPIReady(x.id.videoId)" >
        <td class="title"><font color="white">{{x.snippet.title.split(' ').slice(0, 4).join(' ')}}</font></td>

        <div id="youtube-audio" >
          {{}}
        </div>
        <script src="https://www.youtube.com/iframe_api"></script>
      </div>
    </div>

  </body>
</html>